.selected_Projects {
    .container {
        .selected_Projects_Wrapper {
            /* For all rows */
            .row {
                display: flex;
                align-items: flex-start;
                gap: 20px;

                .col {
                    .project_image {
                        overflow: hidden;
                        transition: $transition;
                        clip-path: inset(100% 0 0 0);

                        img {
                            transition: $transition;
                        }
                    }

                    p {
                        color: $textGrey;
                    }

                    &:hover {
                        .project_image {
                            transform: scale(0.97);
                            img {
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }

            /* First row  row1,2,3 for both home and project pages*/
            .row1 {
                .col {
                    &:nth-child(1) {
                        flex: 55%;
                        .project_image {
                            height: 60vh;
                        }
                    }

                    &:nth-child(2) {
                        flex: 45%;
                        .project_image {
                            height: 110vh;
                        }
                    }
                }
            }

            /* Second row */
            .row2 {
                .col {
                    &:nth-child(1) {
                        flex: 40%;
                        .project_image {
                            height: 110vh;
                        }
                    }

                    &:nth-child(2) {
                        flex: 35%;
                        .project_image {
                            height: 50vh;
                        }
                    }

                    &:nth-child(3) {
                        flex: 25%;
                        .project_image {
                            height: 70vh;
                        }
                    }
                }
            }

            /* Third row */
            .row3 {
                .col {
                    &:nth-child(1) {
                        flex: 45%;
                        .project_image {
                            height: 110vh;
                        }
                    }

                    &:nth-child(2) {
                        flex: 55%;
                        .project_image {
                            height: 60vh;
                        }
                    }
                }
            }

            /* For Project page */
            /* fourth row */
            .row4 {
                .col {
                    &:nth-child(1) {
                        flex: 45%;
                        .project_image {
                            height: 110vh;
                        }
                    }

                    &:nth-child(2) {
                        flex: 55%;
                        .project_image {
                            height: 60vh;
                        }
                    }
                }
            }

            /* Fifth row */
            .row5 {
                .col {
                    &:nth-child(1) {
                        flex: 25%;
                        .project_image {
                            height: 70vh;
                        }
                    }

                    &:nth-child(2) {
                        flex: 35%;
                        .project_image {
                            height: 50vh;
                        }
                    }

                    &:nth-child(3) {
                        flex: 40%;
                        .project_image {
                            height: 110vh;
                        }
                    }
                }
            }
        }
    }
}

/*================================== BREAKPOINTS  ================================== */
@media (max-width: 1040px) {
    .selected_Projects {
        .container {
            .selected_Projects_Wrapper {
                /* First row */
                .row1 {
                    .col {
                        &:nth-child(1) {
                            .project_image {
                                max-height: 400px;
                            }
                        }

                        &:nth-child(2) {
                            .project_image {
                                max-height: 700px;
                            }
                        }
                    }
                }

                /* Second row */
                .row2 {
                    .col {
                        &:nth-child(1) {
                            .project_image {
                                max-height: 700px;
                            }
                        }

                        &:nth-child(2) {
                            .project_image {
                                max-height: 300px;
                            }
                        }

                        &:nth-child(3) {
                            .project_image {
                                max-height: 500px;
                            }
                        }
                    }
                }

                /* Third row */
                .row3 {
                    .col {
                        &:nth-child(1) {
                            .project_image {
                                max-height: 700px;
                            }
                        }

                        &:nth-child(2) {
                            .project_image {
                                max-height: 400px;
                            }
                        }
                    }
                }

                /* fourth row */
                .row4 {
                    .col {
                        &:nth-child(1) {
                            .project_image {
                                max-height: 700px;
                            }
                        }

                        &:nth-child(2) {
                            .project_image {
                                max-height: 400px;
                            }
                        }
                    }
                }

                /* Fifth row */
                .row5 {
                    .col {
                        &:nth-child(1) {
                            .project_image {
                                max-height: 500px;
                            }
                        }

                        &:nth-child(2) {
                            .project_image {
                                max-height: 300px;
                            }
                        }

                        &:nth-child(3) {
                            .project_image {
                                max-height: 700px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .selected_Projects {
        .container {
            .selected_Projects_Wrapper {
                /* For all rows */
                .row {
                    flex-direction: column;
                    gap: 50px;

                    .col {
                        width: 100%;
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5) {
                            .project_image {
                                height: auto;
                                max-height: fit-content;
                            }
                        }
                    }
                }
            }
        }
    }
}