@use "../../scss/utilities/utilities.scss";

:root {
	--color-default: #fafafa;
	--color-primary: #17e134;
	--color-secondary: #080808;
	--purple: rgb(123, 31, 162);
	--violet: rgb(103, 58, 183);
	--pink: rgb(244, 143, 177);
	--g1: rgb(98, 0, 234);
	--g2: rgb(236, 64, 122);
	--scrollbar-width: 4px;
	--scrollbar-radius: 50px;
}

footer {
	background: var(--secondaryBlack);
	width: 100%;
	padding: 100px 0 0 0;
	overflow: hidden;

	.container {
		display: flex;
		width: 100%;

		.magic {
			display: inline-block;
			position: relative;
			.magic-text {
				animation: background-pan 3s linear infinite;
				background: linear-gradient(
					to right,
					var(--purple),
					var(--violet),
					var(--pink),
					var(--purple)
				);
				background-size: 200%;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				white-space: nowrap;
			}
		}

		.wrapper_Col {
			width: 100%;
			display: flex;

			&:nth-child(1) {
				flex-direction: column;
			}

			.links_col {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}
	}

	/* Bottom big heading */
	.bigHeading {
		font-size: 21.4vw;
		letter-spacing: -0.8vw;
		line-height: 85%;
		color: #323232;
	}
}

/* Magic Text Effect */
@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

/*================================== BREAKPOINTS  ================================== */
@media (max-width: 780px) {
	footer {
		padding: 60px 0 0 0;

		.container {
			gap: 50px;
		}
	}
}

@media (max-width: 600px) {
	footer {
		padding: 40px 0 0 0;

		.container {
			flex-direction: column;
		}
	}
}
